<form action="/form_receiver" method="post">
	<input type="text" name="name" placeholder="name" />
	<br/>
	<textarea name="message" placeholder="message"></textarea>
	<br/>
	<button type="submit">Submit</button>
</form>